<h1>Editing treatment</h1>

<%= render "form", treatment: @treatment %>

<br>

<div>
  <%= link_to "Show this treatment", @treatment %> |
  <%= link_to "Back to treatments", treatments_path %>
</div>
