<div id="<%= dom_id result %>">
  <p>
    <strong>Percent covered:</strong>
    <%= result.percent_covered %>
  </p>

  <p>
    <strong>Days waited:</strong>
    <%= result.days_waited %>
  </p>

</div>
