<p style="color: green"><%= notice %></p>

<h1>User types</h1>

<div id="user_types">
  <% @user_types.each do |user_type| %>
    <%= render user_type %>
    <p>
      <%= link_to "Show this user type", user_type %>
    </p>
  <% end %>
</div>

<%= link_to "New user type", new_user_type_path %>
